.portfolio--header {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.Landing--Page {
    display: grid;
    place-items: center;
    height: 89vh;
    background-image: url('./images/Main.png');
    background-size: cover;
}
.photoHeading {
    display: none;
}
@media screen and (min-width:300px) and (max-width:768px) {
    .Landing--Page{
        height: 84vh;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMlJSDZ8Zp2v1xT2BDtsbrAGc7cRHzNzbUkQ&usqp=CAU');
    }
    .portfolio--header {
        grid-template-columns: repeat(3,1fr);
    }
    .photoHeading{
        display: block;
    }
    
}